WindowsFormsApp/Connected Services/ScoresService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetGrades">
        <s:complexType />
      </s:element>
      <s:element name="GetGradesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGradesResult" type="tns:ArrayOfGrades" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGrades">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Grades" nillable="true" type="tns:Grades" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Grades">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Student_Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Course_Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Course_Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Grade" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStudents">
        <s:complexType />
      </s:element>
      <s:element name="GetStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentsResult" type="tns:ArrayOfStudents" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudents">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Students" nillable="true" type="tns:Students" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Students">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGradesSoapIn">
    <wsdl:part name="parameters" element="tns:GetGrades" />
  </wsdl:message>
  <wsdl:message name="GetGradesSoapOut">
    <wsdl:part name="parameters" element="tns:GetGradesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="GetStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetGrades">
      <wsdl:input message="tns:GetGradesSoapIn" />
      <wsdl:output message="tns:GetGradesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input message="tns:GetStudentsSoapIn" />
      <wsdl:output message="tns:GetStudentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGrades">
      <soap:operation soapAction="http://tempuri.org/GetGrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGrades">
      <soap12:operation soapAction="http://tempuri.org/GetGrades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap12:operation soapAction="http://tempuri.org/GetStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44305/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44305/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>